# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
htmlcov/

# Virtualenv
ENV/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# PostgreSQL local data & dumps
pgdata/
postgres/
postgresql/
*.sql
*.dump
*.backup
*.psql

# Secrets
.env
.env.local
.env.*.local
config/database.yml

# SQLite (если вдруг используешь для тестов)
*.db
*.sqlite3
*.sqlite

# Docker
docker-compose.override.yml
